.loginPage{
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/background.svg");
  background-size: 30%;
}
.login{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: 70vh;
  width: 60vh;
  border-radius: 30px;
  background-color: #ebebeb;
  border: 2px solid #ff5714;
}

.formContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
input{
  width: 60%;
  height: 30px;
  padding: 5px 20px;
  border: none;
  border-radius: 25px;
  color: white;
  background-color: #0f0f0f;
  font-size: 1.2rem;
}
button{
  background-color: transparent;
  width: 200px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #ff5714;
  font-size: 1rem;
}
button:hover{
  background-color: #24242454;
}